/* contact.component.scss */

.contact {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;

  h3 {
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 8px;

      strong {
        margin-right: 5px;
      }
    }
  }
}

/* Estilos para el mensaje de "No hay contactos disponibles" */
#noContacts {
  color: #888;
  font-style: italic;
}

/* Estilos para el botón de cerrar sesión */
button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #0056b3;
  }
}
