<div *ngIf="contactos.length > 0; else noContacts">
  <h2>Mis Contactos</h2>
  <ul>
    <li *ngFor="let contacto of contactos">
      <!-- Enlace que envuelve todo el contenido del contacto -->
      <a (click)="verDetalles(contacto)">
        <div class="contact">
          <h3>{{contacto.name}} {{contacto.lastName}}</h3>
        </div>
      </a>
    </li>
  </ul>
</div>

<ng-template #noContacts>
  <p>No hay contactos disponibles.</p>
</ng-template>

<button (click)="logOut()" class="logout-button">Cerrar sesión</button>
<button (click)="agregarContacto()" class="add-contact-button">Agregar Nuevo Contacto</button>

